- name: Install themes
  yay: name={{ item }}
  loop:
    - numix-gtk-theme
    - numix-kde-theme-git
    - xcursor-breeze

- name: Copy config files
  become: yes
  block:
    - name: usr files
      copy: src=usr/ dest=/usr/
    - name: etc files
      copy: src=etc/ dest=/etc/

